head {
  background-color: #ff8095;
  text-align: center;
  padding: 10px;
}

body {
  background-color: purple;
}

h1{
  color: 8A2BE2
  margin-left: 20px;
}

h2 {
  color: #ffb3bf
  margin-left: 20px;
}

footer {
  background-color: #e6e6ff;
   text-align: center;
  padding: 8px;
}

